fastapi==0.104.1
python-multipart==0.0.6
uvicorn==0.24.0
zebrafy==1.2.2
python-dotenv==1.0.0
pydantic==2.4.2
gunicorn==21.2.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
pillow==10.1.0
pdfkit==1.0.0
cryptography==41.0.5
wkhtmltopdf-pack==0.12.6
aiofiles==23.2.1
